# Created by .ignore support plugin (hsz.mobi)
.idea/active-resources.iml
.idea/dictionaries/
.idea/encodings.xml
.idea/inspectionProfiles/
.idea/misc.xml
.idea/modules.xml
.idea/workspace.xml
__pycache__/
env/
static/
test.py
